*.yaml
*.env
/.vscode/
/data/raw/*
/data/interm/*
/data/test/interm/*
data/test/raw/*
/data/processed/*
/notebooks/data/
/notebooks/models/
/venv/
/logs/
__pycache__/


!/src/data
!/data/raw
!/data/interm
!/data/processed
!/data/test/interm
!/data/test/raw/igdb